body * {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to left top, #ddd, #eee 30%, transparent 60%) fixed, linear-gradient(to top, #ddd, #eee 2%, transparent 15%) fixed, url("../img/back.jpg") no-repeat top left/contain fixed #fff;
    font-family: fantasy;
}

button {
    border: none;
    background: linear-gradient(to top right, rgba(150, 111, 51, 0.75), rgba(45, 45, 188, 0.6) 30%, rgba(150, 111, 51, 0.75) 95%);
    display: inline-block;
    height: 30px;
    border-radius: 13px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: -1px 1px 4px black;
    font-size: 0.7em;
}

#h1 {
    position: absolute;
    top: 2vh;
    left: 7vw;
    font-family: fantasy;
    font-size: 48px;
    opacity: 0.9;
    color: darkslateblue;
    text-shadow: 4px 5px 7px rgba(45, 45, 188, 0.6);
}

#chessboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 111, 51, 0.75);
    width: 455px;
    height: 535px;
    border-radius: 25px;
    box-shadow: -2px 3px 4px rgba(180, 111, 51, 0.95), 2px -3px 1px rgba(180, 111, 51, 0.25);
    transform: perspective(1000px) rotateX(15deg) rotateY(9deg) rotateZ(-6deg) scale(1.1);
    margin-right: 9vw;
    cursor: pointer;
}

.letter-grid {
    display: flex;
}

.number-grid {
    display: flex;
}

.line {
    display: flex;
    flex-direction: row;
}

[class*="-block"] {
    /*    display: inline-block;*/
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.number-block {
    flex-direction: column;
    display: flex;
}
.letter-block, .number-block {
    text-shadow: -2px 2px 5px black;
}

.black-block {
    background-color: rgba(185, 185, 185, 0.65);
    text-shadow: -4px 5px 6px rgba(33, 33, 33, 0.8);
}

.white-block {
    background-color: rgba(255, 255, 255, 0.65);
    text-shadow: -4px 5px 6px rgba(33, 33, 33, 0.8);
}

.clean-block {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid beige !important;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 35px;
}

#hand {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 999;
}

#hand img {
    height: 50px;
}

.cell[data-toggle~="toggle"].white-block {
    background-color: #eee;
    border: 3px ridge #333;
    box-shadow: 3px 4px 5px #111, -1px 1px 6px #111;
    transform: scale(1.1) translate3d(-4px, -4px, 0);
}

.cell[data-toggle~="toggle"].black-block {
    background-color: #aaa;
    border: 3px ridge #333;
    box-shadow: 3px 4px 5px #111, -1px 1px 6px #111;
    transform: scale(1.1) translate3d(-4px, -4px, 0);
}

.data-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-field {
    width: 200px;
    font-size: 0.95em;
    text-shadow: -2px 2px 7px black;
}

.data-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#eaten-container {
    background-color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid beige !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    height: 85px;
    flex-wrap: wrap;
}
