#content {
    padding: 10px 25px;
    margin: 10px 12%;
    background: linear-gradient(to bottom right, #ffd, #ffa 15%, transparent 50%), linear-gradient(to bottom left, #ffd, #ffa 15%, transparent 50%), linear-gradient(to top right, #ffd, #ffa 15%, transparent 50%), linear-gradient(to top left, #ffd, #ffa 15%, #fbf 50%);
    border-radius: 45px 5px;
    box-shadow: 1px 1px 5px black;
}

.field {
    display: block;
    font-weight: 600;
    background: linear-gradient(to right, #ddd, transparent 75%);
    border: none;
    border-radius: 2px;
}

.result {
    font-size: 20px;
    color: darkgreen;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 35px;
}

.result::before {
    content: "\2964\00a0";
}

.tasks {
    border-radius: 5px 45px;
    box-shadow: 1px 1px 5px black;
    padding: 15px;
    margin: 15px;
}

legend {
    color: #454545;
    font-weight: 600;
    font-size: 24px;
    border-radius: 15px;
    text-shadow: 1px 1px 2px #999;
}

h1 {
    color: #454545;
    font-size: 28px;
    text-shadow: 1px 1px 2px #999;
}

blockquote {
    font-size: 1.1em;
}

button {
    border-radius: 15px;
    font-weight: 600;
    display: inline-block;
    line-height: 2.3em;
    border: none;
    box-shadow: 1px 1px 7px #aaa;
    margin: 5px 0;
    background: linear-gradient(to bottom, #222, #888 80%);
    color: #fff;
}

p {
    text-decoration: underline;
}
