/*
body * {
    margin: 0;
    padding: 0;
    background: transparent;
}
*/

.nav {
    display: flex;
    height: 51px;
}

.navbar-nav {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0 auto;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.navbar-nav li {
    box-sizing: border-box;
    display: flex;
    /*    padding: 15px;*/
/*    border: 1px solid black;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid darkblue;
/*    box-shadow: 3px -2px 2px black;*/
    flex-grow: 0;
    flex-basis: 20%;
    justify-content: center;
    flex-shrink: 1;
}

.navbar-nav li a {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
    background-color: darkblue;
}

.content {
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: -1px !important;
    /*    z-index: 998;*/
}

.container {
    margin: 0 8%;
}

.active {
    /*    z-index: 999 !important;*/
}

.inactive {
    /*    z-index: 997 !important;*/
    border-bottom: 1px solid black !important;
}

input {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}
#color-result {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}