body {
    background-color: #ececec;
}

dt,
code {
    color: darkblue;
    font-weight: 600;
}

dd,
#text2 {
    color: green;
    margin-bottom: 10px;
}

h4 {
    color: brown;
}

.attention {
    display: inline-block;
    color: black;
    background-color: yellow;
    border-radius: 100%;
    font-size: 1.3em;
    width: 1.3em;
    text-align: center;
    font-weight: 700;
}

#chess,
#ugol {
    font-size: 50px;
    line-height: 38px;
    letter-spacing: -5px;
/*    opacity: 0;*/
    display: none;
}
